# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* List commonly used libraries for Data Science.
* List Data Science tools.
* List examples of arithmetic expressions in Phyton.

Some of the popular languages that Data Scientists use are:

1. Python.
2. SQL.
3. R.
4. Julia.
5. JavaScript.
6. Scala.

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn.
2. SciPy.
3. Plotly.
4. Seaborn.
5. Keras.
6. TensorFlow.

| Data Science Tools |
| -------- |
| Apache Spark |
| R Studio |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
200/60

3.3333333333333335

## Author
Mary Guerra